# Byte-compiled / optimized / DLL files
*pycache*
__pycache__
*.py[cod]
__pycache__/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# User-specific stuff
**/**.ipynb

# idea
.idea

# exportToHTML
.exportToHTML

# logs
**/**.log

